@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply dark:bg-[#171717] dark:text-white;
  @apply font-sans;
}

/* components/MarkdownEditor.module.css */

.markdownPreview h1 {
  content: attr(data-placeholder);
  font-size: 2em;
  margin-bottom: 0.5em;
}

.markdownPreview h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.markdownPreview h3 {
  font-size: 1.17em;
  margin-bottom: 0.5em;
}

.markdownPreview li {
    margin-bottom: 0.25em;
  }
  
/* Adjust padding for nested paragraphs within list items */
.markdownPreview li p {
    margin-bottom: 0.25em;
    padding-left: 1em; /* Adjust as needed */
}

/* Ensure the first paragraph has no top margin to align with the bullet/number */
.markdownPreview li > p:first-child {
    margin-top: 0;
}

.markdownPreview ul,
.markdownPreview ol {
    list-style-position: outside;
    padding-left: 20px; 
}

.markdownPreview ul {
    list-style-type: disc; 
}

.markdownPreview ol {
    list-style-type: decimal; 
}
    
.markdownPreview a {
    color: blue; /* Sets the text color of links to blue */
    text-decoration: underline; /* Underlines links for better visibility */
}

.markdownPreview blockquote {
    padding: 0.5em 10px;
    margin: 0.5em 0;
    border-left: 4px solid #ccc; 
    background-color: #f5f5f5; /* Light gray background, */
    color: #666; /* Black */
}
  
.markdownPreview h1,
.markdownPreview h2,
.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdownPreview p,
.markdownPreview h1,
.markdownPreview h2,
.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6,
.markdownPreview ul,
.markdownPreview ol,
.markdownPreview blockquote,
.markdownPreview pre, /* for code blocks */
.markdownPreview hr { /* for horizontal rules */
  margin-bottom: 1em; /* Adjust as needed */
}

/* Remove bottom margin from the last element in a container */
.markdownPreview > :last-child {
    margin-bottom: 0;
}


/* Blockquotes with more padding for better focus */
.markdownPreview blockquote {
padding: 0.5em 1em;
margin: 1em 0;
}

/* Ensure code blocks are visually distinct */
.markdownPreview pre {
padding: 1em;
margin: 1em 0;
background-color: #f5f5f5; /* Light gray background */
border-radius: 4px; /* Optional: rounded corners for code blocks */
overflow-x: auto; /* For horizontal scrolling if code overflows */
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .markdownPreview {
    background-color: #171717; /* Darker shade for preview mode */
    color: #ddd; /* Lighter text for readability */
    caret-color: white
  }
  .is-empty::before {
    color: #ddd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;    
  }
}


.markdownPreview .is-editor-empty:first-child::before {
  color: #ddd; 
  content: "Untitled document";
  float: left;
  height: 0;
  pointer-events: none;    
}


.markdownPreview .ProseMirror {
  min-height: 5em; 
  overflow: auto; 
  min-width: 10em; 
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px; 
  box-sizing: border-box; 
}
