@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    height: 100vh;
  }

  .markdownPreview h1 {
  content: attr(data-placeholder);
  font-size: 2em;
  margin-bottom: 0.5em;
  }

  .markdownPreview h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  }

  .markdownPreview h3 {
  font-size: 1.17em;
  margin-bottom: 0.5em;
  }

  .markdownPreview li {
  margin-bottom: 0.25em;
}

/* Adjust padding for nested paragraphs within list items */
.markdownPreview li p {
  margin-bottom: 0.25em;
  padding-left: 1em; /* Adjust as needed */
}

.markdownPreview li > p:first-child {
  margin-top: 0;
}

.markdownPreview ul,
.markdownPreview ol {
  list-style-position: outside;
  padding-left: 2.5em; 
}

.markdownPreview ul {
  list-style-type: disc; 
}

.markdownPreview ol {
  list-style-type: decimal; 
}

.markdownPreview a {
  color: rgb(135, 135, 135);
  text-decoration: underline; /* Underlines links for better visibility */
}

.markdownPreview h1,
.markdownPreview h2,
.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdownPreview p,
.markdownPreview h1,
.markdownPreview h2,
.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6,
.markdownPreview ul,
.markdownPreview ol,
.markdownPreview pre, /* for code blocks */
.markdownPreview hr { /* for horizontal rules */
  margin-bottom: 1.5em; /* Adjust as needed */
}


.markdownPreview blockquote {
    background-color: #171717;
    color: #7a7878
  }

  .is-empty::before {
    color: #7a7878;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;    
  }
}


.markdownPreview .is-editor-empty:first-child::before {
  color: #ddd; 
  content: "Untitled document";
  float: left;
  height: 0;
  pointer-events: none;    
}


.markdownPreview .ProseMirror {
  min-height: 5em; 
  overflow: auto; 
  min-width: 10em; 
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px; 
  box-sizing: border-box; 
}

